<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>DDATZZIDOCS</span>
    <span class="example-spacer"></span>
    <mat-form-field>
        <input matInput type="text" placeholder="Search..." #searchCtrl (change)="onSearchTitleChanged(searchCtrl.value)">
        <!-- <button mat-icon-button>
            <mat-icon>search</mat-icon>
        </button> -->
    </mat-form-field>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>