<div style="display: flex; border: 1px solid black;">
  <div style="flex: 1; border-right: 1px solid black; box-sizing: border-box; overflow-x: scroll;">

    <div style="border-bottom: 1px solid #ccc; height: 50px;">
      <span style="padding: 15px; float: left;">DDATZZIDOCS</span>
      <span style="padding: 10px; float: right;">
        <app-button (clicked)="createPage()" [label]="' + 문서 추가 '" />
      </span>
    </div>

    <div>
      <app-page-tree [book]="book" [pageList]="pageList" />
    </div>
  </div>
  <div style="flex: 4; padding: 15px 60px 15px 60px;">
    <router-outlet />
  </div>
</div>