<div style="display: flex; border: 1px solid #ccc;">
  <div style="flex: 1; border-right: 1px solid #ccc; box-sizing: border-box; overflow-x: scroll;">

    <div class="logo-container">
      <div class="logo-wrapper">
        <span class="logo" routerLink="/">DDATZZIDOCS</span>
      </div>
      <div class="logo-wrapper">
        <app-button (clicked)="createPage()" [label]="' + 문서 추가'"/>
      </div>
    </div>

    <div>
      <app-page-tree [book]="book" [pageList]="pageList" />
    </div>
  </div>
  <div style="flex: 4; padding: 15px 60px 15px 60px;">
    <router-outlet />
  </div>
</div>