<div *ngIf="page">
  
  <div class="page-depth">
    <ol class="page-list">
      <li>
        <a *ngIf="book" class="title-book" routerLink="/view/book/{{book._id}}">
          {{book.title}}
        </a>
      </li>
      <ng-container *ngFor="let page of pageTree">
        <li class="title-div">&nbsp;/&nbsp;</li>
        <li>
          <a class="title-page" routerLink="/view/page/{{page._id}}">
            {{page.title}}
          </a>
        </li>
      </ng-container>
    </ol>
    
    <span class="logo" routerLink="/">DDATZZIDOCS</span>
  </div>

  <div class="title-container">
    <div class="title-wrapper-left">
      <h2 class="title">{{page.title}}</h2>
    </div>
    <div class="title-wrapper-right">
      <app-button routerLink="/edit/page/{{page._id}}" [label]="'페이지 수정'"></app-button>
    </div>
  </div>

  <hr />
  
  <div class="content">
    <span [innerHTML]="page.content"></span>
    <span *ngIf="!page.content">
      🙅‍♂️ 내용이 없습니다.
    </span>

    <div class="latest-updated-msg">
      <span>마지막 편집일시 : {{page.updatedAt | date:'yyyy년 MM월 dd일 HH:MM a'}}</span>
    </div>
  </div>
  
  <hr />
</div>