<div>
  
  <ng-container *ngIf="book">
    <div class="page" appPageTreePicker [pageId]="book._id" routerLink="/view/book/{{book._id}}">
      {{book.title | ellipsis: 20}}
    </div>
  </ng-container>
  
  
  <ng-template #recursiveList let-nodes>
    <ng-container *ngFor="let node of nodes">
      <div class="page" appPageTreePicker [pageId]="node._id" routerLink="/view/page/{{node._id}}" [ngStyle]="{'padding-left': (node.level * 17) + 'px'}">
        {{node.title | ellipsis: 20}}
      </div>
      <ng-container *ngIf="node?.children?.length > 0">
        <ng-container *ngTemplateOutlet="recursiveList; context: {$implicit: node.children}"></ng-container>
      </ng-container>
    </ng-container>
  </ng-template>
  
  <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: pageList}"></ng-container>
</div>