<div class="signup-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>DDATZZIDOCS</mat-card-title>
    </mat-card-header>
    <form [formGroup]="userForm" class="signup-form" (ngSubmit)="onSubmit()" novalidate>
    <mat-card-content>
        <mat-form-field class="signup-field">
          <mat-label>Enter your username</mat-label>
          <input matInput formControlName="username" placeholder="Username">
          <mat-icon matSuffix>account_circle</mat-icon>
          <mat-error *ngIf="userForm.get('username')?.errors">
            {{
            userForm.get('username')?.errors?.['required']
            ? 'Username is required'
            : 'Username must be 4-15 characters long and contain only letters and numbers.'
            }}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="signup-field">
          <mat-label>Enter your password</mat-label>
          <input matInput formControlName="password" placeholder="Password" type="password">
          <mat-icon matSuffix>lock</mat-icon>
          <mat-error *ngIf="userForm.get('password')?.errors">
            {{
            userForm.get('password')?.errors?.['required']
            ? 'Password is required'
            : 'Password must be at least 6 characters long'
            }}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="signup-field">
          <mat-label>Confirm your password</mat-label>
          <input matInput formControlName="confirmPassword" placeholder="Confirm Password" type="password">
          <mat-icon matSuffix>lock</mat-icon>
          <mat-error *ngIf="userForm.get('confirmPassword')?.errors">
            {{
            userForm.get('confirmPassword')?.errors?.['required']
            ? 'Password confirmation is required'
            : 'Password and confirmation must match.'}}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="signup-field">
          <mat-label>Enter your email</mat-label>
          <mat-icon matSuffix>email</mat-icon>
          <input matInput formControlName="email" placeholder="likeyuna@site.net">
          <mat-error *ngIf="userForm.get('email')?.errors">
            {{
            userForm.get('email')?.errors?.['required']
            ? 'Email is required'
            : 'Email is invalid'
            }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="signup-field">
          <mat-label>Enter your name</mat-label>
          <input matInput formControlName="name" placeholder="Name">
          <mat-icon matSuffix>person</mat-icon>
          <mat-error *ngIf="userForm.get('name')?.errors">
            {{
            userForm.get('name')?.errors?.['required']
            ? 'Name is required'
            : ''
            }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="signup-field">
          <mat-label>Enter your Location</mat-label>
          <input matInput formControlName="location" placeholder="Location">
          <!-- optionally-->
          <mat-icon matSuffix>location_on</mat-icon>
          <mat-hint>Optionally</mat-hint>
          
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions class="signup-actions">
        <button type="submit" mat-raised-button color="primary" [disabled]="userForm.invalid">Sign Up</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>