<div class="signin-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title class="signin-title">DDATZZIDOCS</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="signin-form">
        <mat-form-field class="signin-field">
          <input matInput placeholder="Username">
        </mat-form-field>
        <mat-form-field class="signin-field">
          <input matInput placeholder="Password" type="password">
        </mat-form-field>
        <div class="button-container">
          <button mat-raised-button color="primary">Sign in</button>
          <a mat-stroked-button routerLink="/signup" class="signup-button">Sign up</a>
        </div>
        
      </form>
    </mat-card-content>
  </mat-card>
</div>
