<table *ngIf="page">
  <tr>
    <th>페이지 제목</th>
    <td>
      <input type="text" [(ngModel)]="page.title" />
    </td>
  </tr>
  <tr>
    <th>부모 페이지</th>
    <td>
      <select [(ngModel)]="page.parentId">
        <option [ngValue]="">없음</option>
        <option *ngFor="let subPage of subPageList" [ngValue]="subPage._id">{{subPage.title}}</option>
      </select>
    </td>
  </tr>
  <tr>
    <th>내용</th>
    <td>
      <input type="text" [(ngModel)]="page.content" />
    </td>
  </tr>
</table>

<button (click)="save()">저장</button>
<button (click)="delete()">삭제</button>