<div *ngIf="book">
  <h2 style="display: inline;">{{book.title}} </h2><label style="color: rgba(128,128,128,0.7)"> 책 수정</label>

  <hr />

  <table>
    <colgroup>
      <col style="width: 15%;" />
      <col style="width: 85%" />
    </colgroup>
    <tbody>
      <tr>
        <th>책 제목</th>
        <td>
          <app-input-text [(ngModel)]="book.title"/>
        </td>
      </tr>
      <tr>
        <th>요약</th>
        <td>
          <app-textarea [(ngModel)]="book.description" />
          <!-- <textarea [(ngModel)]="book.description" style="width: 100%; height: 300px;"></textarea> -->
        </td>
      </tr>
    </tbody>
  </table>

  <hr />
  
  <div class="buttonArea">
    <app-button (clicked)="save()" [label]="'저장'" />
  </div>

</div>
