<div *ngIf="page">
  <h2 class="title">{{pageTitle}}</h2><label class="proc-title">페이지 수정</label>

  <hr />
  
  <table>
    <colgroup>
      <col style="width: 15%;" />
      <col style="width: 85%" />
    </colgroup>
    <tr>
      <th>페이지 제목</th>
      <td>
        <app-input-text [(ngModel)]="page.title"/>
      </td>
    </tr>
    <tr>
      <th>부모 페이지</th>
      <td>
        <app-select [(selectedOption)]="page.parentId" [options]="subPageList" optionValueField="_id" optionTextField="title" defaultOption="N"></app-select>
      </td>
    </tr>
    <tr>
      <th>내용</th>
      <td>
        <quill-editor [(ngModel)]="page.content"></quill-editor>
      </td>
    </tr>
  </table>
  
  <hr />
  
  <div class="buttonArea">
    <app-button (clicked)="save()" [label]="'저장'" />
    <app-button (clicked)="delete()" [label]="'삭제'" />
  </div>
</div>