<div *ngIf="page">

  <div class="page-depth">
    <ol class="page-list">
      <li>
        <a *ngIf="book" class="title-book" routerLink="/edit/book/{{book._id}}">
          {{book.title}}
        </a>
      </li>
      <ng-container *ngFor="let page of pageTree">
        <li class="title-div">&nbsp;/&nbsp;</li>
        <li>
          <a class="title-page" routerLink="/edit/page/{{page._id}}">
            {{page.title}}
          </a>
        </li>
      </ng-container>
    </ol>
    
    <span class="logo" routerLink="/">DDATZZIDOCS</span>
  </div>

  <div class="title-container">
    <div class="title-wrapper-left">
      <h2 class="title">{{pageTitle}} <label style="font-size: 13px; color: rgba(128, 128, 128, 0.7);">페이지 수정</label></h2>
    </div>
    <div class="title-wrapper-right">
      <app-button routerLink="/view/page/{{page._id}}" [label]="'페이지로 돌아가기'"></app-button>
    </div>
  </div>

  

  <hr />
  
  <table>
    <colgroup>
      <col style="width: 15%;" />
      <col style="width: 85%" />
    </colgroup>
    <tr>
      <th>페이지 제목</th>
      <td>
        <app-input-text [(ngModel)]="page.title"/>
      </td>
    </tr>
    <tr>
      <th>부모 페이지</th>
      <td>
        <app-select [(selectedOption)]="page.parentId" [options]="subPageList" optionValueField="_id" optionTextField="title" defaultOption="N"></app-select>
      </td>
    </tr>
    <tr>
      <th>내용</th>
      <td>
        <quill-editor [(ngModel)]="page.content"></quill-editor>
      </td>
    </tr>
  </table>
  
  <hr />
  
  <div class="buttonArea">
    <app-button (clicked)="save()" [label]="'저장'" />
    <app-button (clicked)="delete()" [label]="'삭제'" />
  </div>
</div>