<div *ngIf="book">

  <div class="title-container">
    <div class="title-wrapper-left">
      <h2 class="title">{{book.title}} <label style="font-size: 13px; color: rgba(128, 128, 128, 0.7);">책 수정</label></h2>
    </div>
    <div class="title-wrapper-right">
      <app-button routerLink="/view/book/{{book._id}}" [label]="'책으로 돌아가기'"></app-button>
    </div>
  </div>

  <hr />

  <table>
    <colgroup>
      <col style="width: 15%;" />
      <col style="width: 85%" />
    </colgroup>
    <tbody>
      <tr>
        <th>책 제목</th>
        <td>
          <app-input-text [(ngModel)]="book.title"/>
        </td>
      </tr>
      <tr>
        <th>요약</th>
        <td>
          <app-textarea [(ngModel)]="book.description" />
        </td>
      </tr>
    </tbody>
  </table>

  <hr />
  
  <div class="buttonArea">
    <app-button (clicked)="save()" [label]="'저장'" />
  </div>

</div>
